{{docs-header}}

{{#docs-viewer as |viewer|}}
  {{#viewer.nav as |nav|}}
    {{nav.section "Introduction"}}
    {{nav.item "Installation" "docs.index"}}
    {{nav.item "Quickstart" "docs.quickstart"}}
    {{nav.item "How It Works" "docs.how-it-works"}}
    {{nav.item "Styling" "docs.styling"}}
    {{nav.section "Demos"}}
    {{nav.item "1. Basic (Angle Brackets)" "docs.demos.index"}}
    {{nav.item "1a. Basic (Handlebars)" "docs.demos.handlebars-example"}}
    {{nav.item "2. Page Size" "docs.demos.page-size"}}
    {{nav.item "3. Options View Source" "docs.demos.debug-options"}}
    {{nav.item "4. Minimum Length" "docs.demos.min-length"}}
    {{nav.item "5. Customized Suggestion" "docs.demos.customized-suggestion"}}
    {{nav.item "6. Empty Template" "docs.demos.empty-template"}}
    {{nav.item "7. No Hint" "docs.demos.no-hint"}}
    {{nav.item "8. Clearing Chosen" "docs.demos.clearing-chosen"}}
    {{nav.item "9. Additional Filters" "docs.demos.additional-filters"}}

    <li class="docs-mt-8 docs-capitalize js-ember-data-logo">
      Thank You
      {{docs-logo logo="ember-data" }}
      👍
    </li>
    <li class="docs-mt-8 docs-capitalize js-ember-data-logo">
      Thank You
      JSON:API
      🎉
    </li>
  {{/viewer.nav}}

  {{#viewer.main}}
    {{outlet}}
  {{/viewer.main}}
{{/docs-viewer}}